aiohttp
asyncpg
beautifulsoup4
bcrypt
black
build
click
coverage
cryptography
dnspython
fastapi
flask
flask-login
flask-wtf
gunicorn
httpx
hvac
ipython
jinja2
lxml
matplotlib
mypy
pillow
playwright
pydantic
pydantic-settings
psutil
PyYAML
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-rerunfailures
pytest-timeout
pytest-xdist
redis
reportlab
requests
rich
ruff
sqlalchemy
structlog
tomli
tomli_w
trafilatura
uvicorn
websockets
werkzeug
