**
!Dockerfile
!docker-bake.hcl
!README.md
!apt/**
!pip/wheels.list
!pip/wheels/
!pip/wheels/**
!requirements
!requirements/**
!build
!build/tool-artifacts-staging
!build/tool-artifacts-staging/**
!package-manifests-versioned/**
!package-manifests-versioned
!scripts/
!scripts/manifest_sections.py

